.ResultsList {
    border-right: 2px solid hsl(0,0%,85%);

    max-height: 100%;
}

.ResultsList .Filters {
    background-color: hsl(0,0%,85%);
    padding: 5px 0;
}

.ResultsList .article-list {
    overflow: scroll;
}